.container {
  max-width: 1050px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: white;
  background: #6ba790;
}

.btn-light {
  color: white;
  background: #8bafc7;
}

.btn-dark {
  color: white;
  background: black;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #6ba790;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
  background-color: white;
}

a {
  text-decoration: none;
  color: #b8f0ff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#logo {
  width: 60px;
  height: 60px;
}

#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}

#main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-nav li {
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
}

#main-nav a {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

#main-nav a:hover {
  border-color: #fcfdfc;
}

#main-nav a.current {
  border-color: #6ba790;
}

#header-home {
  background: url("../dist/img/myimg/anime-1.jpg") no-repeat center right/cover;
  height: 100vh;
  color: white;
}

#header-home .header-content {
  text-align: center;
  padding-top: 16.5%;
}

#header-home h1 {
  font-size: 4rem;
  line-height: 1.2;
}

#home-a h2.section-title {
  display: inline;
  border-bottom: 3px solid #6ba790;
}

#home-a .specials {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#home-a .specials img[class^="icon-"] {
  width: 50px;
  height: 50px;
}

#home-b .general {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#home-b .general li {
  line-height: 2;
}

#home-b .general li.general-title {
  font-size: 1.5rem;
}

#home-b .general li.general-info {
  font-size: 1rem;
  font-weight: bold;
}

#home-b .general img[class^="icon-"] {
  width: 70px;
  height: 70px;
}

#home-b .general div {
  padding: 3rem 0;
}

#home-b .general div:nth-child(odd) {
  background-color: lightslategray;
}

#home-b .general div:nth-child(even) {
  background-color: lightpink;
}
/*# sourceMappingURL=main.css.map */